<h2>ユーザー詳細画面</h2>
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= link_to "プロフィール編集", edit_user_path(@user.id) %>
</div>

<% @post_images.each do |post_image| %>
  <div>
    <%= link_to post_image_path(post_image.id) do %>
      <%= image_tag post_image.get_image %>
    <% end %>
    <p>投稿ユーザー画像:<%= image_tag post_image.user.get_profile_image(100,100) %></p>
    <p>ショップ名:<%= post_image.shop_name %></p>
    <p>説明:<%= post_image.caption %></p>
    <p>ユーザーネーム:<%= post_image.user.name %></p>
    <p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
  </div>
<% end %>

<div>
  <%= @user.name %>
  <%= @user.email %>
  <% if current_user != @user %>
    <%= link_to "チャットを始める", chat_path(@user.id) %>
  <% end %>
</div>
